COBBLER_SERVER_HOST: 10.17.3.1
COBBLER_NEXT_SERVER_HOST: 10.17.3.1
COBBLER_SUBNET: 10.17.3.0
COBBLER_NETMASK: 255.255.255.0
COBBLER_ROUTERS: 10.17.3.1
COBBLER_NAMESERVERS: 1.1.1.1,8.8.8.8
COBBLER_DHCP_RANGE: 10.17.3.50 10.17.3.100
COBBLER_PXE_JUST_ONE: "true"
COBBLER_ENABLE_IPXE: "true"
COBBLER_MANAGE_DHCP: "true"
COBBLER_MANAGE_DHCP_V4: "true"
COBBLER_DEFAULT_USERNAME: "cobbler"
COBBLER_DEFAULT_SSH_KEY: "ssh-ed25519 ..."
TZ: America/Sao_Paulo