# Sample kickstart file for current EL, Fedora based distributions.

# System keyboard
keyboard us

# System language
lang en_US.UTF-8

# System timezone
timezone  {{TZ}}

#Root password
rootpw --iscrypted $default_password_crypted

# Set SSH-KEY for root user if provided
{% if COBBLER_DEFAULT_SSH_KEY is defined and COBBLER_DEFAULT_SSH_KEY|trim != "" %}
sshkey --username root "{{COBBLER_DEFAULT_SSH_KEY}}"
{% endif %}

# Create a user account with sudo privileges
user --name {{COBBLER_DEFAULT_USERNAME}} --groups wheel --password $default_password_crypted --iscrypted

# Reboot after installation
reboot

# Use network installation
url --url=$tree

# System bootloader configuration
bootloader --location=mbr

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel

# Allow anaconda to partition the system as needed
autopart

# Disk partitioning information
# To be customized as needed. An example for UEFI + LVM is provided below.
# part /boot/efi --fstype=efi --size=600
# part /boot --fstype=xfs --size=1024
# part pv.0 --fstype=lvmpv --size=120012

# Network information
$SNIPPET('network_config')

# Do not configure the X Window System
skipx

# Run the Setup Agent on first boot
firstboot --disable

# SELinux configuration
selinux --disabled

# Firewall configuration
firewall --enabled --ssh

# If any cobbler repo definitions were referenced in the kickstart profile, include them here.
$yum_repo_stanza

%pre
$SNIPPET('log_ks_pre')
$SNIPPET('autoinstall_start')
$SNIPPET('pre_install_network_config')
# Enable installation monitoring
$SNIPPET('pre_anamon')
%end

%packages
@^server-product-environment
%end

%post --nochroot
$SNIPPET('log_ks_post_nochroot')
%end

%post
$SNIPPET('log_ks_post')
# Start yum configuration
$yum_config_stanza
# End yum configuration
$SNIPPET('post_install_kernel_options')
$SNIPPET('post_install_network_config')
$SNIPPET('download_config_files')
$SNIPPET('koan_environment')
$SNIPPET('redhat_register')
$SNIPPET('cobbler_register')
# Enable post-install boot notification
$SNIPPET('post_anamon')
# Start final steps
$SNIPPET('autoinstall_done')
# End final steps
%end